html,body { height:85%; }

body {
    background-color: #338fcc;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

div.body {
    border-radius: 15px;
    animation: fadeInAnimation ease 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: #6cb2ea;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 60px;
    padding: 10px 20px;
    filter: drop-shadow(10px 10px 2px #00000050);
    height: 100%;
}
.bodyheader {
    text-align: center;
}

.header {
    padding-top: 20px;
}

.headerimg {
    margin: auto;
    display: block;
}

.sidebar {
    height: 100%;
    width: 160px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 120px;
    padding-left: 20px;
    position: fixed;
}

.sidebarimg {
    padding-bottom: 6px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}