html,body { height:85%; }

body {
    font-family: 'Courier New', monospace;
    background-color: #0B0F24;
    color: #7EC7FF;
    font-size: 1.1em;
}

main {
    text-align: center;
    color: #B8CDFF;
    border-radius: 15px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 60px;
    padding: 10px 20px;
    height: 100%;
}

body a {
    color: #E2A87F;
}

logo pre {
    padding-top: 20px;
  text-align: center;
}

sidebar {
    height: 100%;
    z-index: 1;
    top: 10em;
    left: 0;
    overflow-x: hidden;
    padding-top: 120px;
    padding-left: 20px;
    position: fixed;
}

sidebar a {
    color: #E2A87F;
    text-decoration: underline;
    display: block;
    padding-bottom: 10px;
}
